.container {
    margin-top: 32px;
    padding: 16px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    text-align: left;
    
  }
  
  .card {
    border: 1px solid #FD7D2B;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ecc1a6, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);

  }
  
  .card-body {
    padding: 16px;
    color: #666;
  }
  
  .price {
    font-size: 30px;
    margin-bottom: 8px;
    color: #FD7D2B;
    font-weight: 900;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 8px;
    color: #FD7D2B;
  }
  
  .details {
    margin-bottom: 8px;
  }
  
  .divider {
    margin: 8px 0;
  }
  
  .description {
    margin-bottom: 8px;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      
    }
  }